<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <button onclick="vm.openForm(1)">Open Form</button>
        <h1>{{ 'Nilai A : ' + value }}</h1>
        <h1>{{ 'klik : ' + click }}</h1>
        <h1>{{ 'rata-rata : ' + total }}</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a : 0,
                value : 0,
                click : 0,
                total : 0,
            },
            computed : {},
            methods : {
                openForm : function(no) {
                    while (this.value <= 10) {
                        this.click = this.click + no
                        this.a = prompt('Masukan Nilai a')
                        this.value = parseInt(this.value) + parseInt(this.a)
                    }

                    this.total = this.value / this.click
                }
            }
        })
    </script>
</body>
</html>