body {
    font-family: "Arial";
    font-weight: 400;
}

h1 {
    text-align: center;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

thead {
    text-align: center;
    background-color:darksalmon;
}

.photo {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 313px;
}